//- layout.pug
doctype html
html
  head
    title BetterCallSandeep
    block scripts
    block style 
  body
    nav#navbar
        div#img1 
            img(src='/static/img/libra-2754246_1280.png')
            div#three
                h5 of the people 
                h5 for the people 
                h5 by the people
        ul 
            li #[a(class='a1' href=' /') Home]
            li #[a(class='a1' href="#topics") Topics]
            li #[a(class='a1' href="#sponsers") Our Sponsers]
            li #[a(class='a1' href="/contact") Contact Us]
    block content
    footer            
        p Copyright@2023 BetterCallSandeep.com | All rights reserved
